:host {
  width: 100%;
  max-width: 1000px;
}

#wrapper {
  border: solid 1px black;
  border-radius: 1em;
  box-shadow: black 0 0 2px 2px;
  padding: 1em;
}

#text-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  display: flex;
  justify-content: space-between;
  #details {
    display: flex;
  }
}

#forecast {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-column-gap: 1em;
}
